
<% content_for :sidebar do %>
  <div class="content">

    <h3>Collections</h3>
  <ul class="nav">
      <li><%= link_to_unless_current "View collections", collections_path %></li>
  </ul>
    <h3>Ribbons</h3>
    <ul class="nav">
      <li><%= link_to_unless_current "Ribbons", "/trizle/ribbons?level=false" %></li>
      <li><%= link_to_unless_current "Level ribbons", "/trizle/ribbons?level=true" %></li>
    </ul>

      <%#= render "trizle_sections/partials/achievements_nav" %>

  </div>
<% end %>
